body {
    
    background-color:antiquewhite; 
}

#nav {
    
    list-style-type: : none;
    margin: 0;
    padding: 0;
    
}

li{
    
    
    float:right;
    
    
}

li a{
    
    display: block;
    color:white;
    text-align: center;
    padding: 1em 3em;
    text-decoration: none;
    background-color:deepskyblue;
    font-family: arial;
    
    
}


li a:hover {
    
    background-color:greenyellow;
    
}

#title{
    
    
    text-align: center;
    color:darkorange;
    margin-top:1em;
}
#sign-up{
    margin-top:8em;
    text-align: center;
    margin-left:1cm;
    margin-right:1cm;
}

#submit{
margin-left:70em;
margin-right:auto;
font-style: italic;
border-radius: 4px 4px 4px;
    
}

#reset{
    
    font-style: italic;
    border-radius: 4px 4px 4px;
    
}