body {
    background-color:antiquewhite;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    
    
 
}

#nav {
    
    list-style-type: : none;
    margin: 0;
    padding: 0;
    
}

li{
    
    
    float:right;
    
    
}

li a{
    
    display: block;
    color:white;
    text-align: center;
    padding: 1em 3em;
    text-decoration: none;
    background-color:deepskyblue;
    font-family: arial;
    
    
}


li a:hover {
    
    background-color:greenyellow;
    
}

#title{
    
    
    text-align: center;
    color:dodgerblue;
    margin-top:1em;
    margin-left: 1cm;
    font-family: inherit;
}


#sign-up{
    
  
    
    margin-top: 2cm;
    margin-bottom:cm; 
    margin-left: 2cm;
    margin-right:2cm;
    padding-top:2cm;
    padding-bottom:2cm;
    text-align: center;
}

#submit{
margin-left:2cm;
font-style: italic;
border-radius: 4px 4px 4px;
    
}

#reset{
    
    font-style: italic;
    border-radius: 4px 4px 4px;
    margin-left:1cm;
}



#email {
    margin-left: 1cm;
    
}

#phone{
    
    margin-left: 1cm;
}


#email_name{
    
    font-family:sans-serif;
    color:dodgerblue;
}

#phone_number{
    font-family: sans-serif;
    color:dodgerblue;
}


#rdy{
     font-family:inherit;
     color:dodgerblue;
}