body{
    
    background-color:antiquewhite;
    
    
}

#nav {
    
    list-style-type: : none;
    margin: 0;
    padding: 0;
    
}

li{
    
    
    float:right;
    
    
}

li a{
    
    display: block;
    color:white;
    text-align: center;
    padding: 1em 3em;
    text-decoration: none;
    background-color:aliceblue;
    
    
}


li a:hover {
    
    background-color:greenyellow;
    
}

#title{
    color:dodgerblue;
    text-align: center;
    margin-top:1cm;
    
}


#body{
    
    
    background-color:white;
    margin-right:2cm;
    margin-left:2cm;
    padding-left:1cm;
    padding-right:1cm;
}


#intro{
    
    margin-top:10em;
}




#sign{
    
    
    
    
}